.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}



/* Login Screen CSS */

.loginContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: clamp(300px, 50vw, 400px);
  height: clamp(400px, 50vh, 500px);
  color: #364D63;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.loginContainer h1{
  font-size: clamp(1.5rem, 5vw, 2rem);

  
}

.loginContainer img{
  width: 17%;
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.formContainer{ 
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup{
  position: relative;
  width: 90%;
}

.formGroup input{
  width: 100%;
  
  padding: 3%;
  background:transparent;
  font-size: 1rem;
  border : 1px solid #364D63;
  color: #364D63;
  border-radius: 5px;
  margin-top: 10%;
  
}

.formGroup label{
  position: absolute;
  left: 5%;
  top: 55%;
  transition: 250ms;
  border: 2px solid transparent;
}

.formGroup:focus-within label, .formGroup:not(:has(:placeholder-shown)) label{
  translate: 0.625rem -1.4rem;
  background-color: #fff;
}

.formGroup input::placeholder{
  color: transparent;
}

.formContainer a{
  width: 90%;
  text-align: right;
  margin-top: 4%;
  color: #5A80A5;
}

.blueButton{
  background-color: #1A73E8;
  color: #fff;
  padding: 3%;
  border-radius: 5px;
  width: 50%;
  margin-top: 10%;
  text-align: center;
  transition: 300ms;
}

.blueButton:hover{
  background-color: #0F5BDA;
  transition: 300ms;
}

@keyframes slideInFromTop {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50, -50%);
    opacity: 1;
  }
}




.dialogPopUpInfo{
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideInFromTop 0.80s ease-in-out;
  justify-content: center;
  color: #364D63;
  width:clamp(300px, 50vw, 400px);
  height: 45dvh;
  border: none;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.dialogPopUpInfo h2{
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  margin-bottom: 10%;
  width: 100%;

}

.dialogPopUpInfo p{
  margin-bottom: 5%;
  size: clamp(1rem, 2vw, 1.2rem);
  width: 100%;
}

.show{
  display: flex;
}

.blur{
  filter: blur(20px);
}


@media screen and (max-width: 600px){
  .loginContainer{
    width: 85%;
    height: 65dvh;
  }

  .formGroup input{
    margin-top: 5%;
    padding: 5%;
    top: 47%;
  }

  .formGroup label{
    top: 50%; /* Coloca el label en la mitad vertical del contenedor */
    left: 5%;
    transform: translateY(-50%); /* Centra verticalmente el label */
  }

  .blueButton{
    margin-top: 15%;
    width: 70%;
    padding: 5%;
    
  }

  .dialogPopUpInfo{
    width: 80%;
    height: 45dvh;
  }
  
}

/* mainMenu CSS */
.mainMenuContainer{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: clamp(300px, 50vw, 900px);
  height: clamp(400px, 50vh, 500px);
  color: #364D63;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.divisionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  width: 100%;
  height: 100%;
}
.flexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.flexFlexContainer{
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.flexFlexContainer button{
  width: 80%;
  padding: 3%;

}
.flexContainer img{
  width: 45%;
  height: 70%;
  padding-left: 10px;
}
.verticalLine {
  border-left: 1px solid #000;
  height: 100%;
}
.divisionContainer table{
  width: 90%;
  height: auto;
  border-collapse: collapse;
  background-color: #f3f3f3;
}
.divisionContainer table tr{
  border-bottom: 1px solid #a1a1a1;
}
.divisionContainer table tr td{
  padding: 5px;
}

@media (max-width: 1150px) {
  .divisionContainer {
      padding-top: 0;
      text-align: center;
  }
  .flexFlexContainer button {
      width: 80%;
      padding: 4%;
      font-size: 60%;
  }
  .flexContainer img {
      width: 45%;
  }
  .divisionContainer table {
      font-size: 60%;
  }
}

/* teamMembers CSS */

.teamContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: start;
  text-align: start;
  justify-content: top;
  padding: 30px;
  background-color: #fff;
  width: clamp(300px, 50vw, 1000px);
  height: clamp(800px, 50vh, 500px);
  color: #364D63;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.teamContainer h1{
  padding-bottom: 50px;
}
.searchAddContainer{
  display: flex;
  padding-top: 5px;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 10%;
}
.searchAddContainer input{
  width: 40%;
  height: 55%;
  padding: 1%;
  background:transparent;
  font-size: 1rem;
  border : 1px solid #364D63;
  color: #364D63;
  border-radius: 5px;
}
.searchAddContainer button{
  padding: 1%;
  width: auto;
  height: 55%;
  margin: 0%;
}
.addContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: end;
  width: 60%;
  height: 100%;
}
.addContainer button{
  padding: 1%;
  width: auto;
  height: 55%;
  margin: 0%;
}
.teamContainer table{
  width: 100%;
  height: 80%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #f3f3f3;

}
.teamContainer table th{
  text-align: center;
  background-color: #fff;
}
.teamContainer table tr{
  border-bottom: 1px solid #a1a1a1;
}
.teamContainer table td{
  padding: 2px;
} 
.teamContainer table button{
  width: auto;
  padding: 5px;
  margin: 0px;
}
.deleteButton{
  background-color: #d80404;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .teamContainer table{
    font-size: 70%;
  }
  .teamContainer table button{
    font-size: 80%;
  }
}
.tableContainer{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.tableContainer table{
  width: 100%;
  height: 10%;
  border-collapse: collapse;
  background-color: #f3f3f3;
}

.tableContentContainer{
  display: flex;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  align-items: top;
}
.tableContentContainer table td{ 
  text-align: center;
}